header{
    background-color: #244751;
    color: aqua;
}
.header img {
  border-radius: ;25%
}
.header h1 {
  .bolded { font-weight: bold; }
}
body {
    background-color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
    a.photo:hover
        padding: 10px;
      }
}
main {
    background-color: white;
    padding: 16px;
}
.finstagram-post {
    margin-bottom: 48px;
  }
  .finstagram-post .user-info img {
    border-radius: 25%;
  }
  
