header{
    background-color: #244751;
    color: aqua;
}
.header-info{
  display:flex;
  
}
.header-info img{
  border-radius: 15%;
  margin: 15px;
}
body {
    background-color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
}
main {
    background-color: white;
    padding: 16px;
}
.finstagram-post {
    margin-bottom: 48px;
  }
  .finstagram-post .user-info img {
    width: 40px;
    border-radius: 25%;
  }
  
a.photo {
transition: padding 0.5s;
}

a.photo:hover{
  padding: 10px;
}